<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post">
        <input type="number" name="id" placeholder="product id"/>
        <input type="text" name="name" placeholder="product name"/>
        <input type="number" name="price" placeholder="product price"/>
        <button>Add</button>
   

    </form>
</body>
</html>